<!DOCTYPE html>
<html>
<head>
	<title>Election Information</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css">
	<link rel="stylesheet" href="css/jqm.red.theme.css">
	<link rel="stylesheet" href="css/styles.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/jquery.mobile.router.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).bind("mobileinit", function() {$.mobile.page.prototype.options.addBackBtn = true;}); // Add back button to nested lists
	</script>
	<script src="//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>
<body>

	<div data-role="page" id="info">
		<div data-role="content"></div>
		<div data-role="footer" data-position="fixed" data-theme="b" data-id="foot"></div>
	</div>

	<div data-role="page" id="pollingplace">
		<div data-role="content"></div>
		<div data-role="footer" data-position="fixed" data-theme="b" data-id="foot"></div>
	</div>

	<div data-role="page" id="candidates">
		<div data-role="header-options"></div>
		<div data-role="content"></div>
		<div data-role="footer" data-position="fixed" data-theme="b" data-id="foot"></div>
	</div>

	<div data-role="page" id="questions">
		<div data-role="header-options"></div>
		<div data-role="content"></div>
		<div data-role="footer" data-position="fixed" data-theme="b" data-id="foot"></div>
	</div>
	
	<script type="text/template" id="template-footer">
		<div data-role="navbar">
			<ul>
				<li><a href="#info<%= queryString %>" data-icon="info"<% if(currentPage == "info") { %> class="ui-btn-active ui-state-persist"<% } %>>Info</a></li>
				<li><a href="#pollingplace<%= currentPage != "pollingplace" ? queryString : "" %>" data-icon="home"<% if(currentPage == "pollingplace") { %> class="ui-btn-active ui-state-persist"<% } %>>Where to Vote</a></li>
				<li><a href="#candidates<%= currentPage != "candidates" ? queryString : ""  %>" data-icon="star"<% if(currentPage == "candidates") { %> class="ui-btn-active ui-state-persist"<% } %>>My Ballot</a></li>
			</ul>
		</div>
	</script>
	
	<script type="text/template" id="template-header">
		<div data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a href="#candidates<%= queryString %>" data-role="button"<% if(currentPage == "candidates") { %> class="ui-btn-active"<% } %>>Candidates</a>
			<a href="#questions<%= queryString %>" data-role="button"<% if(currentPage == "questions") { %> class="ui-btn-active"<% } %>>Questions</a>
		</div>
	</script>
	
	<script type="text/template" id="template-info">
		<h2>Election Info</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula tempor urna, venenatis euismod enim euismod sed.</p>
		<p>Vote on <strong>Tuesday</strong> 11/6 from <strong>7am - 8pm</strong></p>
		
		<div data-role="collapsible-set">
			<div data-role="collapsible">
				<h3>Voter ID</h3>
				Nunc mi leo, dapibus a vehicula non, consectetur eget nisl. Vestibulum ligula eros, dictum molestie feugiat eu, porta quis mauris. Sed varius quam vel nisi luctus commodo.
			</div>
			<div data-role="collapsible">
				<h3>Another Section</h3>
				Proin luctus sodales tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis blandit egestas ullamcorper.
			</div>
			<div data-role="collapsible">
				<h3>More Information</h3>
				For more information on the election, contact the Office of City Commissioner Stephanie Singer at 215-686-3940.
			</div>
		</div>
	</script>
	
	<script type="text/template" id="template-search">
		<p>Enter the address where you are registered to vote</p>
		<form action="<%= action %>">
			<label for="address" class="ui-hidden-accessible">Address</label>
			<input type="text" name="address" placeholder="Address">
			<button type="submit" data-theme="b">Search</button>
		</form>
	</script>
	
	<script type="text/template" id="template-pollingplace">
		<h2>Where to Vote</h2>
		
		<p>Note: Polling places can change due to emergencies. For confirmation, call 215-686-3940</p>
		
		Your address:<br>
		<a href="#pollingplace" data-role="button" data-icon="arrow-l" data-mini="true"><%= userAddress %></a>
		
		Vote at:<br>
		<a href="<%= mapUrl %>"><%= pollingplace.POLLING_PL %><br>
		<%= pollingplace.ADDRESS %></a><br><br>
		
		<a href="<%= mapUrl %>"><img src="<%= staticMap %>"></a>
	</script>
	
	<script type="text/template" id="template-candidates">
		<h2>Candidates</h2>
		Your Address:<br>
		<a href="#candidates" data-role="button" data-icon="arrow-l" data-mini="true"><%= normalizedInput.line1 %></a><br>
		
		<ul data-role="listview">
		<% for(i in contests) { %>
			<li>
				<span><%= contests[i].office %></span>
				<ul>
				<% for(ii in contests[i].candidates) { %>
					<% var candidate = contests[i].candidates[ii]; %>
					<li>
						<h3><%= candidate.name %></h3>
						<p style="white-space: normal">
						<%= candidate.party %> Party<br>
						<% if(candidate.candidateUrl !== undefined) { %>
							<a href="<%= candidate.candidateUrl %>" target="_blank" title="Website" class="channel"><img src="icons/Website.png"></a>
						<% } %>
						<% if(candidate.email !== undefined) { %>
							<a href="mailto:<%= candidate.email %>" target="_blank" title="Email" class="channel"><img src="icons/Email.png"></a>
						<% } %>
						<% if(candidate.phone !== undefined) { %>
							<a href="tel:1<%= candidate.phone.replace(/\D/g, "") %>" target="_blank" title="Phone" class="channel"><img src="icons/Phone.png"></a>
						<% } %>
						<% for(iii in candidate.channels) { %>
							<a href="<%= candidate.channels[iii].id %>" target="_blank" title="<%= candidate.channels[iii].type %>" class="channel"><img src="icons/<%= candidate.channels[iii].type %>.png"></a>
						<% } %>
						</p>
					</li>
				<% } %>
				</ul>
			</li>
		<% } %>
		</ul>
	</script>
	
	<script type="text/template" id="template-questions">
		<ol>
		<% for(i in questions) { %>
			<li><%= questions[i] %></li>
		<% } %>
		</ol>
	</script>
	
	<script type="text/template" id="template-error">
		<h2>Error</h2>
		<%= msg %><br>		
		<% if(xhr && xhr.status !== undefined && xhr.statusText !== undefined) { %>
			<small>(Error Code: <%= xhr.status %> <%= xhr.statusText %>)</small><br><br>
		<% } %>
		
		Election Information:<br>
		215-686-3940<br><br>
		
		<a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
	</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="js/xdr.js" type="text/javascript"></script>
	<script src="js/main.js" type="text/javascript"></script><!-- No need to load this before the page is rendered -->
	<script src="js/api.js" type="text/javascript"></script>
	<script src="js/questions.js" type="text/javascript"></script>
</body>
</html>