<!DOCTYPE html>
<html>
<head>
	<title>Election Information</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css">
	<link rel="stylesheet" href="css/styles.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/jquery.mobile.router.min.js" type="text/javascript"></script>
	<script src="//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>
<body>

	<div data-role="page" id="info">
		<div data-role="header-options"></div>
		<div data-role="content"></div>
		<div data-role="footer" data-position="fixed" data-theme="b" data-id="foot"></div>
	</div>

	<div data-role="page" id="pollingplace">
		<div data-role="header-options"></div>
		<div data-role="content"></div>
		<div data-role="footer" data-position="fixed" data-theme="b" data-id="foot"></div>
	</div>

	<div data-role="page" id="candidates">
		<div data-role="header-options"></div>
		<div data-role="content"></div>
		<div data-role="footer" data-position="fixed" data-theme="b" data-id="foot"></div>
	</div>
	
	<script type="text/template" id="template-footer">
		<div data-role="navbar">
			<ul>
				<li><a href="#info<%= queryString %>" data-icon="info"<% if(currentPage == "info") { %> class="ui-btn-active ui-state-persist"<% } %>><%= d("info") %></a></li>
				<li><a href="#pollingplace<%= currentPage != "pollingplace" ? queryString : "" %>" data-icon="home"<% if(currentPage == "pollingplace") { %> class="ui-btn-active ui-state-persist"<% } %>><%= d("where") %></a></li>
				<li><a href="#candidates<%= currentPage != "candidates" ? queryString : ""  %>" data-icon="star"<% if(currentPage == "candidates") { %> class="ui-btn-active ui-state-persist"<% } %>><%= d("candidates") %></a></li>
			</ul>
		</div>
	</script>
	
	<script type="text/template" id="template-header">
		<div data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a href="<%= currentPath %>" data-lang="en"<% if(currentLanguage == "en") { %> class="ui-btn-active ui-state-persist"<% }%> data-role="button">English</a>
			<a href="<%= currentPath %>" data-lang="es"<% if(currentLanguage == "es") { %> class="ui-btn-active ui-state-persist"<% }%> data-role="button">Espa&ntilde;ol</a>
		</div>
	</script>
	
	<script type="text/template" id="template-info">
		<h2><%= d("title") %></h2>
		<p><%= d("intro") %></p>
		<p><%= d("when") %></p>
		
		<div data-role="collapsible-set">
			<div data-role="collapsible">
				<h3><%= d("voteridTitle") %></h3>
				<%= d("voteridContent") %>
			</div>
			<div data-role="collapsible">
				<h3>Another Section</h3>
				Proin luctus sodales tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis blandit egestas ullamcorper.
			</div>
			<div data-role="collapsible">
				<h3>Yet Another</h3>
				Vivamus vehicula lorem cursus odio accumsan vitae pellentesque dui fringilla. Integer eu erat eget nulla pulvinar iaculis.
			</div>
		</div>
	</script>
	
	<script type="text/template" id="template-search">
		<%= d("prompt") %>
		<form action="<%= action %>">
			<label for="address" class="ui-hidden-accessible"><%= d("address") %></label>
			<input type="text" name="address" placeholder="<%= d("address") %>">
			<button type="submit" data-theme="b"><%= d("search") %></button>
		</form>
	</script>
	
	<script type="text/template" id="template-pollingplace">
		<h2><%= d("title") %></h2>
		<%= d("yourAddress") %>:<br>
		<%= userAddress %><br><br>
		
		<%= d("voteAt") %>:<br>
		<a href="<%= mapUrl %>" target="_blank"><%= pollingplace.POLLING_PL %><br>
		<%= pollingplace.ADDRESS %></a><br><br>
		
		<a href="<%= mapUrl %>" target="_blank"><img src="<%= staticMap %>"></a>
		
		<a href="#pollingplace" data-role="button" data-icon="arrow-l"><%= d("changeAddress") %></a>
	</script>
	
	<script type="text/template" id="template-candidates">
		Candidate page
	</script>
	
	<script type="text/template" id="template-error">
		<h2><%= d("title") %></h2>
		<%= d(msg) %><br>		
		<% if(xhr && xhr.status !== undefined && xhr.statusText !== undefined) { %>
			<small>(<%= d("errorCode") %>: <%= xhr.status %> <%= xhr.statusText %>)</small><br><br>
		<% } %>
		<br>
		
		<%= d("info") %>:<br>
		215-686-3940<br><br>
		
		<a href="#" data-role="button" data-rel="back" data-icon="arrow-l"><%= d("back") %></a>
	</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
	<script src="js/main.js" type="text/javascript"></script><!-- No need to load this before the page is rendered -->
	<script src="js/api.js" type="text/javascript"></script>
	<script src="js/dict.js" type="text/javascript"></script>
</body>
</html>